html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "coder";
  src: local("coder"), url(font.woff) format("woff");
}

body {
  margin: 0;
  font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}

html {
  background-color: "#4C4C4C";
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}


p {
  margin: 0;
  padding: 0;
}
.example-enter {
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: scale(1.2);
  /* transform-origin: top right; */
  transition: opacity 200ms ease, transform 200ms ease;
}

.example-leave {
  opacity: 1;
  transform: scale(1.2);
  transform-origin: top right;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: scale(0);
  /* transform-origin: top right; */
  transition: opacity 200ms ease, transform 200ms ease;
}

.show-accordion-enter {
  height: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;

}

.show-accordion-enter.show-accordion-enter-active {
  opacity: 1;
  height: 100px;
  padding: 1rem 0;
  visibility: visible;
  transition: all 300ms cubic-bezier(0, 0, 0.25, 1);
}

.show-accordion-leave {
  opacity: 1;
  height: 100px;
  padding: 1rem 0;
  visibility: visible;
}

.show-accordion-leave.show-accordion-leave-active {
  opacity: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  transition: all 150ms cubic-bezier(0, 0, 0.25, 1);
}

.icon-enter {
  opacity: 1;
  transform: rotateX(90deg);
}
.icon-enter.icon-enter-active {
  opacity: 0;
  transform: rotateX(90deg);
  transition: all 50ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-leave {
  opacity: 0;
  transform: rotateX(90deg);
}
.icon-leave.icon-leave-active {
  opacity: 1;
  transform: rotateX(90deg);
  transition: all 50ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nk-circle-animation.small {
  height: 400px;
  width: 400px;
}

.nk-circle-animation {
  overflow: hidden;
  z-index: 1;
}


.nk-df-center {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nk-circle-animation:before, .nk-circle-animation:after {
  position: absolute;
  content: ' ';
  border: 4px solid rgba(151, 175, 213, 0.3);
  border-radius: 50%;
}
.nk-circle-animation.small:after {
  top: 35px;
  left: 35px;
  bottom: 35px;
  right: 35px;
}


@keyframes rotatecw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateacw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.nk-circle-animation:after {
  border-top-color: #3f9;
  border-bottom-color: #3f9;
  animation: rotateacw 24s linear infinite 0s;
}

.nk-circle-animation:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top-color: #3f9;
  border-right-color: #3f9;
  animation: rotatecw 30s linear infinite 0s
}

.nk-circle-animation.small:before, .nk-circle-animation.small:after {
  border-width: 2px;
}

.left-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -350px;
  background-color: #2f6a3e;
  width: 340px;
  transition: all 1s;
  padding: 80px 30px;
}
.left-bar.visible {
  left: 0;
  transition: all 1s;
}

@media screen and (max-width: 1024px) {
  .global-item {
    justify-content: space-between;
  }
}


.dark-header {
  background-color: rgba(0, 0, 0, 0.897);
}
.white-header {
  background-color: rgba(0, 0, 0, 0);
}




